<div class="map-container">
  <div class="location-info">
    <p class="location-description">
      Visítanos en nuestra tienda física ubicada en la ciudad de Yopal.
      Aquí podrás encontrar todos nuestros productos de dotación y recibir asesoría personalizada.
    </p>
    <div class="address-details">
      <p class="address">📍 Dirección: Carrera 19 #22-80 (Esquina) - Yopal, Casanare.</p>
      <p class="hours">🕒 Horarios: Lunes a Viernes 8:00 AM - 6:00 PM | Sábados 9:00 AM - 12:00 M</p>
    </div>
  </div>

  <iframe
    width="450"
    height="250"
    frameBorder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    [src]="safeMapUrl"
    allowfullscreen>
  </iframe>
</div>
